<div class="tabela">
  <h1 mat-dialog-title>Cadastrar</h1>
  <div class="linha">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="clientes.nome" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="clientes.cpf" required/>
      </mat-form-field>
    </div>
  </div>

  <div class="linha">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Bairro</mat-label>
        <input matInput required [(ngModel)]="clientes.bairro" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Rua</mat-label>
        <input matInput [(ngModel)]="clientes.rua"/>
      </mat-form-field>
    </div>
  </div>
  <div class="linha">
    <div mat-dialog-actions>
      <button mat-button type="submit" [mat-dialog-close]="clientes">Salvar</button>
    </div>
  </div>
</div>
